@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z70lf0');
  src:  url('fonts/icomoon.eot?z70lf0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z70lf0') format('truetype'),
    url('fonts/icomoon.woff?z70lf0') format('woff'),
    url('fonts/icomoon.svg?z70lf0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-icon-percent-badge{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-percent-badge:before {
  content: "\e900";
}
